<div id="login_form" class="box">
  <h1><%= t(".login") %></h1>
  <%= simple_form_for :session, url: sessions_path do |form| %>
    <%= form.input :email %>
    <%= form.submit t(".login") %>
  <% end %>
</div>