<div>
  <h1 class="font-bold text-4xl">Appointments#edit</h1>
  <p>Find me in app/views/appointments/edit.html.erb</p>
  <%= turbo_frame_tag @appointment do %>
    <%= render "form", appointment: @appointment %>
  <% end %>
</div>
